<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" xml:lang="ja" lang="ja" content="">
    <meta name="keywords" xml:lang="ja" lang="ja" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> -->
    <title>棋譜読みちゃん</title>
  	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="icon" href="kifuyomi_icon.png">
</head>

<body>

	<div id="home" class="big-bg">
		<header class="page-header wrapper">
			<h1><a href="https://help.kify.rei-yumesaki.net/" target="_brank"><img class="logo" src="https://kify.rei-yumesaki.net/images/gra_logo_1.png" alt="棋譜読みちゃんロゴ"></a></h1>
			<nav>
				<ul class="main-nav">
					<li><a href="https://help.kify.rei-yumesaki.net/" target="_brank">ユーザーガイド</a></li>
					<li><a href="https://twitter.com/Kifuyomi" target="_brank">公式Twitter</a></li>
				</ul>
			</nav>
		</header>

		<div class="home-content wrapper">
			<h2 style="float: left; margin-right: 14px;" class="page-title">棋譜共有ちゃん</h2>
			<p style="text-align: left; padding-top: 15px;">
        本アプリは、<a href="https://help.kify.rei-yumesaki.net/">「棋譜読みちゃん」</a>の非公式拡張ツールです。<br>
        棋譜読みちゃん本家から許可を得て公開しています。<br>
        <!-- 使い方は<a href="assets/help/help.html">こちら</a>をご覧ください。 -->
      </p>
			<p style="clear: both; margin-top: 50px; margin-bottom: 2px;">棋譜入力欄（KIF/KI2/CSA）※<a href="https://help.kify.rei-yumesaki.net/guide/kifu/" target="_blank">棋譜のサンプルを取得</a></p>
			<textarea cols="120" rows="10" id="inputKifu" [(ngModel)]="kifu"></textarea><br>
			<button id="kif-play-1" (mouseover)="setSettings()" class="button" (click)="buttonEvent()">棋譜再生ページへ <i class="material-icons">play_arrow</i></button>
      <br>
			<!-- <button class="how-button" onclick="location.href='assets/help/help.html'">使い方</button> -->
			<p style="padding-bottom: 10px;">ご利用には<a [href]="chromeExtensionAddress" target="_blank">chrome拡張機能</a>が必要です。
        <span style="font-weight: 800;">詳細な使い方</span>は<button class="how-button" onclick="location.href='assets/help/help.html'">使い方</button>をご覧ください。</p>
		</div>
	</div>


	<div class="main-contents wrapper">

		<aside>
			<h3 class="sub-title">設定</h3>
			<div class="nav flex-column sub-menu">
				<p style="position: relative;">
					<small>設定番号</small>
					<br>
					<select id="setNumber" [(ngModel)]="setNumber" (change)="setSettingNumber()">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<button (click)="backDefault()">デフォルトに戻す <i class="material-icons">cleaning_services</i></button>
				</p>
				<p>
					<small id="message">(設定は変更すると自動保存されます)</small>
				</p>
			</div>
			<h3 class="sub-title">サウンド</h3>
			<div class="nav flex-column sub-menu">
				<p style="position: relative;">
					<small>読み上げ音声</small>
					<br>
					<select id="set1" [(ngModel)]="voiceNumber" (change)="setSettings()">
						<option value="0">0：なし</option>
						<option value="1">1：つくよみちゃん</option>
						<option value="2">2：落ち着き</option>
						<option value="3">3：萌え</option>
					</select>
					<button (click)="testPlayVoice()">試聴 <i class="material-icons">campaign</i></button>
				</p>
				<p style="position: relative;">
					<small>駒の音</small>
					<br>
					<select id="set2" [(ngModel)]="komaotoNumber" (change)="setSettings()">
						<option value="0">0：なし</option>
						<option value="1">1：パチン</option>
						<option value="2">2：パチン(低)</option>
						<option value="3">3：ポン</option>
					</select>
					<button (click)="testPlayKomaoto()">試聴 <i class="material-icons">campaign</i></button>
				</p>
				<p>
					<small>自動再生時間</small>
					<br>
					<select id="set3" [(ngModel)]="playSpeedNumber" (change)="setSettings()">
						<option value="0.1">0.1秒</option>
						<option value="0.5">0.5秒</option>
						<option value="1">1秒</option>
						<option value="2">2秒</option>
					</select>
				</p>
			</div>
			<h3 class="sub-title">グラフィク</h3>
			<div id="gra-menu" class="nav flex-column sub-menu">
				<div class="nav-link" data-toggle="tab" href="#panel-menu01" (click)="selectItem(11)">
					<small>上下装飾ライン</small>
					<br>
					<select id="set11" [(ngModel)]="komadaiNumber" (change)="setSettings()">
						<option value="1">1：夢色メモリアル</option>
						<option value="2">2：和風ゴージャス①</option>
						<option value="3">3：和風ゴージャス②</option>
						<option value="4">4：シンプルキュート①</option>
						<option value="5">5：シンプルキュート②</option>
						<option value="6">6：スラッシュ①</option>
						<option value="7">7：スラッシュ②</option>
						<option value="8">8：ツートーン①</option>
						<option value="9">9：ツートーン②</option>
						<option value="10">10：ツートーン③</option>
						<option value="11">11：ツートーン④</option>
						<option value="12">12：アナログアート風</option>
						<option value="13">13：星空ロマンティック</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu02" (click)="selectItem(5)">
					<small>背景画像</small>
					<br>
					<select id="set5" [(ngModel)]="backNumber" (change)="setSettings()">
						<option value="1">1：夢色メモリアル</option>
						<option value="2">2：和風ゴージャス①</option>
						<option value="3">3：和風ゴージャス②</option>
						<option value="4">4：ホワイト</option>
						<option value="5">5：シルバー</option>
						<option value="6">6：グレー</option>
						<option value="7">7：アイボリー</option>
						<option value="8">8：ライトベージュ</option>
						<option value="9">9：ダークベージュ</option>
						<option value="10">10：キュートピンク</option>
						<option value="11">11：瞼の裏の空</option>
						<option value="12">12：ざらついた薄黄の紙</option>
						<option value="13">13：星空ロマンティック</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu03" (click)="selectItem(14)">
					<small>再生ボタン</small>
					<br>
					<select id="set14" [(ngModel)]="playButtonNumber" (change)="setSettings()">
						<option value="1">1：花型</option>
						<option value="2">2：菱形</option>
						<option value="3">3：シンプルブラック</option>
						<option value="4">4：シンプルホワイト</option>
						<option value="5">5：シンプルブラウン</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu04" (click)="selectItem(9)">
					<small>盤</small>
					<br>
					<select id="set9" [(ngModel)]="banNumber" (change)="setSettings()">
						<option value="1">1：夢色メモリアル</option>
						<option value="2">2：木目</option>
						<option value="3">3：スタイリッシュグレー</option>
						<option value="4">4：白×灰色の線</option>
						<option value="5">5：白×黒の線</option>
						<option value="6">6：白×黄色の線</option>
						<option value="7">7：白×橙の線</option>
						<option value="8">8：白×紫の線</option>
						<option value="9">9：紫×金の線</option>
						<option value="10">10：黒×金の線</option>
						<option value="11">11：グレー</option>
						<option value="12">12：レッド</option>
						<option value="13">13：手書き風</option>
						<option value="14">14：星空ロマンティック</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu05" (click)="selectItem(8)">
					<small>駒</small>
					<br>
					<select id="set8" [(ngModel)]="komaNumber" (change)="setSettings()">
						<option value="1">1：シンプル</option>
						<option value="2">2：花型</option>
						<option value="3">3：木製二字駒</option>
						<option value="4">4：字のみ・黒</option>
						<option value="5">5：字のみ・白</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu06" (click)="selectItem(16)">
					<small>今の手マーカー</small>
					<br>
					<select id="set16" [(ngModel)]="selectionNumber" (change)="setSettings()">
						<option value="1">1：夢色メモリアル</option>
						<option value="2">2：ピンク</option>
						<option value="3">3：ライトブルー</option>
						<option value="4">4：イエロー</option>
						<option value="5">5：グリーン</option>
						<option value="6">6：レッド</option>
						<option value="7">7：ブルー</option>
						<option value="8">8：パープル</option>
						<option value="9">9：ブラック</option>
						<option value="10">10：花の模様つき</option>
						<option value="11">11：Empty</option>
						<option value="12">12：Empty</option>
						<option value="13">13：Empty</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu07" (click)="selectItem(13)">
					<small>一手前マーカー</small>
					<br>
					<select id="set13" [(ngModel)]="markerNumber" (change)="setSettings()">
						<option value="1">1：夢色メモリアル</option>
						<option value="2">2：ピンク</option>
						<option value="3">3：ライトブルー</option>
						<option value="4">4：イエロー</option>
						<option value="5">5：グリーン</option>
						<option value="6">6：レッド</option>
						<option value="7">7：ブルー</option>
						<option value="8">8：パープル</option>
						<option value="9">9：ブラック</option>
						<option value="10">10：花の模様つき</option>
						<option value="11">11：Empty</option>
						<option value="12">12：Empty</option>
						<option value="13">13：Empty</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu08" (click)="selectItem(12)">
					<small>持ち駒カウンター</small>
					<br>
					<select id="set12" [(ngModel)]="mochiNumber" (change)="setSettings()">
						<option value="1">1：ベージュに白の縁取り</option>
						<option value="2">2：黒に白の縁取り</option>
						<option value="3">3：白に水色の縁取り</option>
						<option value="4">4：黒（縁取りなし）</option>
						<option value="5">5：白（縁取りなし）</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu09" (click)="selectItem(6)">
					<small>先手アイコン</small>
					<br>
					<select id="set6" [(ngModel)]="senteIconNumber" (change)="setSettings()">
						<option value="1">1：男性・グレー</option>
						<option value="2">2：女性・グレー</option>
						<option value="3">3：男性・ライトブルー</option>
						<option value="4">4：女性・ライトブルー</option>
						<option value="5">5：男性・ピンク</option>
						<option value="6">6：女性・ピンク</option>
						<option value="7">7：つくよみちゃん(えみゃコーラ様)</option>
						<option value="8">8：つくよみちゃん(夢前黎)</option>
						<option value="9">9：WEB漫画『電子の海の渚にて』①</option>
						<option value="10">10：WEB漫画『電子の海の渚にて』②</option>
						<option value="11">11：夢前黎アイコン</option>
						<option value="12">12：Empty</option>
						<option value="13">13：Empty</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu10" (click)="selectItem(7)">
					<small>後手アイコン</small>
					<br>
					<select id="set7" [(ngModel)]="goteIconNumber" (change)="setSettings()">
						<option value="1">1：男性・グレー</option>
						<option value="2">2：女性・グレー</option>
						<option value="3">3：男性・ライトブルー</option>
						<option value="4">4：女性・ライトブルー</option>
						<option value="5">5：男性・ピンク</option>
						<option value="6">6：女性・ピンク</option>
						<option value="7">7：つくよみちゃん(えみゃコーラ様)</option>
						<option value="8">8：つくよみちゃん(夢前黎)</option>
						<option value="9">9：WEB漫画『電子の海の渚にて』①</option>
						<option value="10">10：WEB漫画『電子の海の渚にて』②</option>
						<option value="11">11：夢前黎アイコン</option>
						<option value="12">12：Empty</option>
						<option value="13">13：Empty</option>
						<option value="14">14：Empty</option>
						<option value="15">15：Empty</option>
						<option value="16">16：Empty</option>
						<option value="17">17：Empty</option>
						<option value="18">18：Empty</option>
						<option value="19">19：Empty</option>
						<option value="20">20：Empty</option>
					</select>
				</div>
				<div class="nav-link" data-toggle="tab" href="#panel-menu11" (click)="selectItem(17)">
					<small>ロゴ</small>
					<br>
					<select id="set17" [(ngModel)]="logoNumber" (change)="setSettings()">
						<option value="1">1：黒×ピンク</option>
						<option value="2">2：黒×イエロー</option>
						<option value="3">3：黒×ライトブルー</option>
						<option value="4">4：黒×ライトグリーン</option>
						<option value="5">5：黒×パープル</option>
						<option value="6">6：白×ピンク</option>
						<option value="7">7：白×イエロー</option>
						<option value="8">8：白×ライトブルー</option>
						<option value="9">9：白×ライトグリーン</option>
						<option value="10">10：白×パープル</option>
					</select>
				</div>
			</div>
			<h3 class="sub-title">棋譜読みちゃんについて</h3>
			<p>
				ダウンロード版では、ユーザーが用意したサウンドやグラフィックを入れて遊ぶこともできます。
				<br />あなたの声で棋譜の読み上げを行うことも可能です。
				<br />詳しくは<a href="https://help.kify.rei-yumesaki.net/" target="_blank">ユーザーガイド</a>をご覧ください！
			</p>
		</aside>


		<article>
			<h3 id="preview" class="mb-3" style="width: 640px; position: relative;">
				プレビュー
				<span style="font-size: 14pt; color: dimgray; position: absolute; bottom: 0; right: 0px;"><i class="material-icons">mouse</i>クリックで素材を選択<i class="material-icons">south</i></span>
			</h3>
			<div id="preview-content">
				<div class="nav preview" id="sub_colum">
					<a>
						<img id="pre_bg" [src]="root + 'images/gra_back_' + backNumber + '.png'">
					</a>
					<a data-toggle="tab" href="#panel-menu01">
						<img id="pre_pg" [src]="root + 'images/gra_player_back_' + komadaiNumber + '.png'">
					</a>
					<a data-toggle="tab" href="#panel-menu02" style="top: 140px; left: 360px;">
						<div style="width: 220px; height: 100px; background-color: snow; text-align: center;">
							背景画像選択
						</div>
					</a>
					<a data-toggle="tab" href="#panel-menu03" style="top: 260px; left: 370px;">
						<img id="pre_first" [src]="root + 'images/btn_first_' + playButtonNumber + '.png'" width="36px">
						<img id="pre_back" [src]="root + 'images/btn_back_' + playButtonNumber + '.png'" width="36px">
						<img id="pre_auto" [src]="root + 'images/btn_auto_' + playButtonNumber + '.png'" width="36px">
						<img id="pre_next" [src]="root + 'images/btn_next_' + playButtonNumber + '.png'" width="36px">
						<img id="pre_last" [src]="root + 'images/btn_last_' + playButtonNumber + '.png'" width="36px">
					</a>
					<a data-toggle="tab" href="#panel-menu04" style="top: 60px; left: 40px;">
						<img id="pre_board" [src]="root + 'images/gra_shogiban_' + banNumber + '.png'" width="236px">
					</a>
					<a data-toggle="tab" href="#panel-menu05" style="top: 170px; left: 123px;">
						<img id="pre_koma1" [src]="root + 'images/koma1_' + komaNumber + '.png'" width="23px">
						<img id="pre_koma2" [src]="root + 'images/koma31_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 47px;">
					</a>
					<a data-toggle="tab" href="#panel-menu05" style="top: 70px; left: 53px;">
						<img id="pre_koma_t1" [src]="root + 'images/koma32_' + komaNumber + '.png'" width="23px">
						<img id="pre_koma_t2" [src]="root + 'images/koma33_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 23px;">
						<img id="pre_koma_t3" [src]="root + 'images/koma36_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 28px; left: 23px;">
						<img id="pre_koma_t4" [src]="root + 'images/koma34_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 46px;">
						<img id="pre_koma_t5" [src]="root + 'images/koma25_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 70px;">
						<img id="pre_koma_t6" [src]="root + 'images/koma28_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 94px;">
						<img id="pre_koma_t7" [src]="root + 'images/koma25_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 117px;">
						<img id="pre_koma_t8" [src]="root + 'images/koma34_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 141px;">
						<img id="pre_koma_t9" [src]="root + 'images/koma33_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 164px;">
						<img id="pre_koma_t10" [src]="root + 'images/koma37_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 28px; left: 164px;">
						<img id="pre_koma_t11" [src]="root + 'images/koma32_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 187px;">
					</a>
					<a data-toggle="tab" href="#panel-menu05" style="top: 270px; left: 53px;">
						<img id="pre_koma_b1" [src]="root + 'images/koma2_' + komaNumber + '.png'" width="23px">
						<img id="pre_koma_b2" [src]="root + 'images/koma3_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 23px;">
						<img id="pre_koma_b3" [src]="root + 'images/koma7_' + komaNumber + '.png'" width="23px" style="position: absolute; top: -22px; left: 23px;">
						<img id="pre_koma_b4" [src]="root + 'images/koma4_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 46px;">
						<img id="pre_koma_b5" [src]="root + 'images/koma5_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 70px;">
						<img id="pre_koma_b6" [src]="root + 'images/koma9_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 94px;">
						<img id="pre_koma_b7" [src]="root + 'images/koma5_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 117px;">
						<img id="pre_koma_b8" [src]="root + 'images/koma4_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 141px;">
						<img id="pre_koma_b9" [src]="root + 'images/koma3_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 164px;">
						<img id="pre_koma_b10" [src]="root + 'images/koma6_' + komaNumber + '.png'" width="23px" style="position: absolute; top: -22px; left: 164px;">
						<img id="pre_koma_b11" [src]="root + 'images/koma2_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 187px;">
					</a>
					<a data-toggle="tab" href="#panel-menu06" style="top: 120px; left: 100px;">
						<img id="pre_select1" [src]="root + 'images/gra_selection_' + selectionNumber + '.png'" width="23px">
						<img id="pre_koma3" [src]="root + 'images/koma11_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 0px;">
					</a>
					<a data-toggle="tab" href="#panel-menu06" style="top: 220px; left: 193px;">
						<img id="pre_select2" [src]="root + 'images/gra_selection_' + selectionNumber + '.png'" width="23px">
						<img id="pre_koma4" [src]="root + 'images/koma21_' + komaNumber + '.png'" width="23px" style="position: absolute; top: 3px; left: 0px;">
					</a>
					<a data-toggle="tab" href="#panel-menu07" style="top: 145px; left: 100px;">
						<img id="pre_mark1" [src]="root + 'images/gra_marker_' + markerNumber + '.png'" width="23px">
					</a>
					<a data-toggle="tab" href="#panel-menu07" style="top: 195px; left: 193px;">
						<img id="pre_mark2" [src]="root + 'images/gra_marker_' + markerNumber + '.png'" width="23px">
					</a>
					<a data-toggle="tab" href="#panel-menu08" style="top: 335px; left: 80px;">
						<img id="pre_koma5" [src]="root + 'images/koma1_' + komaNumber + '.png'" width="20px">
						<img id="pre_count" [src]="root + 'images/gra_suji_9_' + mochiNumber + '.png'" width="7px" style="position: absolute; top: 15px; left: 15px;">
					</a>
					<a data-toggle="tab" href="#panel-menu09" style="top: 320px; left: 40px;">
						<img id="pre_player1" [src]="root + 'images/gra_player_' + senteIconNumber + '.png'" width="35px">
					</a>
					<a data-toggle="tab" href="#panel-menu10" style="top: 5px; left: 240px;">
						<img id="pre_player2" [src]="root + 'images/gra_player_' + goteIconNumber + '.png'" width="35px">
					</a>
					<a data-toggle="tab" href="#panel-menu11" style="top: 60px; left: 380px;">
						<img id="pre_logo" [src]="root + 'images/gra_logo_' + logoNumber + '.png'" width="180px">
					</a>
					<a style="top: 315px; left: 363px;">
						<img [src]="root + 'images/gra_btn_toryo.png'" width="50px">
						<img [src]="root + 'images/gra_btn_kif.png'" width="50px">
						<img [src]="root + 'images/gra_btn_ki2.png'" width="50px">
						<img [src]="root + 'images/gra_btn_csa.png'" width="50px">
					</a>
				</div>
				<div class="tab-content" id="panel-menus">

					<div class="tab-pane fade show" id="panel-menu01">
						<h3 class="mb-3">上下装飾ライン</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(11,  1)" src="https://kify.rei-yumesaki.net/images/gra_player_back_1.png" [class.selectedItem]="(komadaiNumber == '1')">
							<img class="item" (click)="selectGraphicItem(11,  2)" src="https://kify.rei-yumesaki.net/images/gra_player_back_2.png" [class.selectedItem]="(komadaiNumber == '2')">
							<img class="item" (click)="selectGraphicItem(11,  3)" src="https://kify.rei-yumesaki.net/images/gra_player_back_3.png" [class.selectedItem]="(komadaiNumber == '3')">
							<img class="item" (click)="selectGraphicItem(11,  4)" src="https://kify.rei-yumesaki.net/images/gra_player_back_4.png" [class.selectedItem]="(komadaiNumber == '4')">
							<img class="item" (click)="selectGraphicItem(11,  5)" src="https://kify.rei-yumesaki.net/images/gra_player_back_5.png" [class.selectedItem]="(komadaiNumber == '5')">
							<img class="item" (click)="selectGraphicItem(11,  6)" src="https://kify.rei-yumesaki.net/images/gra_player_back_6.png" [class.selectedItem]="(komadaiNumber == '6')">
							<img class="item" (click)="selectGraphicItem(11,  7)" src="https://kify.rei-yumesaki.net/images/gra_player_back_7.png" [class.selectedItem]="(komadaiNumber == '7')">
							<img class="item" (click)="selectGraphicItem(11,  8)" src="https://kify.rei-yumesaki.net/images/gra_player_back_8.png" [class.selectedItem]="(komadaiNumber == '8')">
							<img class="item" (click)="selectGraphicItem(11,  9)" src="https://kify.rei-yumesaki.net/images/gra_player_back_9.png" [class.selectedItem]="(komadaiNumber == '9')">
							<img class="item" (click)="selectGraphicItem(11, 10)" src="https://kify.rei-yumesaki.net/images/gra_player_back_10.png" [class.selectedItem]="(komadaiNumber == '10')">
							<img class="item" (click)="selectGraphicItem(11, 11)" src="https://kify.rei-yumesaki.net/images/gra_player_back_11.png" [class.selectedItem]="(komadaiNumber == '11')">
							<img class="item" (click)="selectGraphicItem(11, 12)" src="https://kify.rei-yumesaki.net/images/gra_player_back_12.png" [class.selectedItem]="(komadaiNumber == '12')">
							<img class="item" (click)="selectGraphicItem(11, 13)" src="https://kify.rei-yumesaki.net/images/gra_player_back_13.png" [class.selectedItem]="(komadaiNumber == '13')">
							<img class="item" (click)="selectGraphicItem(11, 14)" src="https://kify.rei-yumesaki.net/images/gra_player_back_14.png" [class.selectedItem]="(komadaiNumber == '14')">
							<img class="item" (click)="selectGraphicItem(11, 15)" src="https://kify.rei-yumesaki.net/images/gra_player_back_15.png" [class.selectedItem]="(komadaiNumber == '15')">
							<img class="item" (click)="selectGraphicItem(11, 16)" src="https://kify.rei-yumesaki.net/images/gra_player_back_16.png" [class.selectedItem]="(komadaiNumber == '16')">
							<img class="item" (click)="selectGraphicItem(11, 17)" src="https://kify.rei-yumesaki.net/images/gra_player_back_17.png" [class.selectedItem]="(komadaiNumber == '17')">
							<img class="item" (click)="selectGraphicItem(11, 18)" src="https://kify.rei-yumesaki.net/images/gra_player_back_18.png" [class.selectedItem]="(komadaiNumber == '18')">
							<img class="item" (click)="selectGraphicItem(11, 19)" src="https://kify.rei-yumesaki.net/images/gra_player_back_19.png" [class.selectedItem]="(komadaiNumber == '19')">
							<img class="item" (click)="selectGraphicItem(11, 20)" src="https://kify.rei-yumesaki.net/images/gra_player_back_20.png" [class.selectedItem]="(komadaiNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu02">
						<h3 class="mb-3">背景画像</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(5,  1)" src="https://kify.rei-yumesaki.net/images/gra_back_1.png" [class.selectedItem]="(backNumber == '1')">
							<img class="item" (click)="selectGraphicItem(5,  2)" src="https://kify.rei-yumesaki.net/images/gra_back_2.png" [class.selectedItem]="(backNumber == '2')">
							<img class="item" (click)="selectGraphicItem(5,  3)" src="https://kify.rei-yumesaki.net/images/gra_back_3.png" [class.selectedItem]="(backNumber == '3')">
							<img class="item" (click)="selectGraphicItem(5,  4)" src="https://kify.rei-yumesaki.net/images/gra_back_4.png" [class.selectedItem]="(backNumber == '4')">
							<img class="item" (click)="selectGraphicItem(5,  5)" src="https://kify.rei-yumesaki.net/images/gra_back_5.png" [class.selectedItem]="(backNumber == '5')">
							<img class="item" (click)="selectGraphicItem(5,  6)" src="https://kify.rei-yumesaki.net/images/gra_back_6.png" [class.selectedItem]="(backNumber == '6')">
							<img class="item" (click)="selectGraphicItem(5,  7)" src="https://kify.rei-yumesaki.net/images/gra_back_7.png" [class.selectedItem]="(backNumber == '7')">
							<img class="item" (click)="selectGraphicItem(5,  8)" src="https://kify.rei-yumesaki.net/images/gra_back_8.png" [class.selectedItem]="(backNumber == '8')">
							<img class="item" (click)="selectGraphicItem(5,  9)" src="https://kify.rei-yumesaki.net/images/gra_back_9.png" [class.selectedItem]="(backNumber == '9')">
							<img class="item" (click)="selectGraphicItem(5, 10)" src="https://kify.rei-yumesaki.net/images/gra_back_10.png" [class.selectedItem]="(backNumber == '10')">
							<img class="item" (click)="selectGraphicItem(5, 11)" src="https://kify.rei-yumesaki.net/images/gra_back_11.png" [class.selectedItem]="(backNumber == '11')">
							<img class="item" (click)="selectGraphicItem(5, 12)" src="https://kify.rei-yumesaki.net/images/gra_back_12.png" [class.selectedItem]="(backNumber == '12')">
							<img class="item" (click)="selectGraphicItem(5, 13)" src="https://kify.rei-yumesaki.net/images/gra_back_13.png" [class.selectedItem]="(backNumber == '13')">
							<img class="item" (click)="selectGraphicItem(5, 14)" src="https://kify.rei-yumesaki.net/images/gra_back_14.png" [class.selectedItem]="(backNumber == '14')">
							<img class="item" (click)="selectGraphicItem(5, 15)" src="https://kify.rei-yumesaki.net/images/gra_back_15.png" [class.selectedItem]="(backNumber == '15')">
							<img class="item" (click)="selectGraphicItem(5, 16)" src="https://kify.rei-yumesaki.net/images/gra_back_16.png" [class.selectedItem]="(backNumber == '16')">
							<img class="item" (click)="selectGraphicItem(5, 17)" src="https://kify.rei-yumesaki.net/images/gra_back_17.png" [class.selectedItem]="(backNumber == '17')">
							<img class="item" (click)="selectGraphicItem(5, 18)" src="https://kify.rei-yumesaki.net/images/gra_back_18.png" [class.selectedItem]="(backNumber == '18')">
							<img class="item" (click)="selectGraphicItem(5, 19)" src="https://kify.rei-yumesaki.net/images/gra_back_19.png" [class.selectedItem]="(backNumber == '19')">
							<img class="item" (click)="selectGraphicItem(5, 20)" src="https://kify.rei-yumesaki.net/images/gra_back_20.png" [class.selectedItem]="(backNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu03">
						<h3 class="mb-3">再生ボタン</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(14,  1)" src="https://kify.rei-yumesaki.net/images/btn_next_1.png" [class.selectedItem]="(playButtonNumber == '1')">
							<img class="item" (click)="selectGraphicItem(14,  2)" src="https://kify.rei-yumesaki.net/images/btn_next_2.png" [class.selectedItem]="(playButtonNumber == '2')">
							<img class="item" (click)="selectGraphicItem(14,  3)" src="https://kify.rei-yumesaki.net/images/btn_next_3.png" [class.selectedItem]="(playButtonNumber == '3')">
							<img class="item" (click)="selectGraphicItem(14,  4)" src="https://kify.rei-yumesaki.net/images/btn_next_4.png" [class.selectedItem]="(playButtonNumber == '4')">
							<img class="item" (click)="selectGraphicItem(14,  5)" src="https://kify.rei-yumesaki.net/images/btn_next_5.png" [class.selectedItem]="(playButtonNumber == '5')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu04">
						<h3 class="mb-3">盤</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(9,  1)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_1.png" [class.selectedItem]="(banNumber == '1')">
							<img class="item" (click)="selectGraphicItem(9,  2)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_2.png" [class.selectedItem]="(banNumber == '2')">
							<img class="item" (click)="selectGraphicItem(9,  3)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_3.png" [class.selectedItem]="(banNumber == '3')">
							<img class="item" (click)="selectGraphicItem(9,  4)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_4.png" [class.selectedItem]="(banNumber == '4')">
							<img class="item" (click)="selectGraphicItem(9,  5)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_5.png" [class.selectedItem]="(banNumber == '5')">
							<img class="item" (click)="selectGraphicItem(9,  6)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_6.png" [class.selectedItem]="(banNumber == '6')">
							<img class="item" (click)="selectGraphicItem(9,  7)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_7.png" [class.selectedItem]="(banNumber == '7')">
							<img class="item" (click)="selectGraphicItem(9,  8)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_8.png" [class.selectedItem]="(banNumber == '8')">
							<img class="item" (click)="selectGraphicItem(9,  9)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_9.png" [class.selectedItem]="(banNumber == '9')">
							<img class="item" (click)="selectGraphicItem(9, 10)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_10.png" [class.selectedItem]="(banNumber == '10')">
							<img class="item" (click)="selectGraphicItem(9, 11)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_11.png" [class.selectedItem]="(banNumber == '11')">
							<img class="item" (click)="selectGraphicItem(9, 12)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_12.png" [class.selectedItem]="(banNumber == '12')">
							<img class="item" (click)="selectGraphicItem(9, 13)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_13.png" [class.selectedItem]="(banNumber == '13')">
							<img class="item" (click)="selectGraphicItem(9, 14)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_14.png" [class.selectedItem]="(banNumber == '14')">
							<img class="item" (click)="selectGraphicItem(9, 15)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_15.png" [class.selectedItem]="(banNumber == '15')">
							<img class="item" (click)="selectGraphicItem(9, 16)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_16.png" [class.selectedItem]="(banNumber == '16')">
							<img class="item" (click)="selectGraphicItem(9, 17)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_17.png" [class.selectedItem]="(banNumber == '17')">
							<img class="item" (click)="selectGraphicItem(9, 18)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_18.png" [class.selectedItem]="(banNumber == '18')">
							<img class="item" (click)="selectGraphicItem(9, 19)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_19.png" [class.selectedItem]="(banNumber == '19')">
							<img class="item" (click)="selectGraphicItem(9, 20)" src="https://kify.rei-yumesaki.net/images/gra_shogiban_20.png" [class.selectedItem]="(banNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu05">
						<h3 class="mb-3">駒</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(8,  1)" src="https://kify.rei-yumesaki.net/images/koma1_1.png" [class.selectedItem]="(komaNumber == '1')">
							<img class="item" (click)="selectGraphicItem(8,  2)" src="https://kify.rei-yumesaki.net/images/koma1_2.png" [class.selectedItem]="(komaNumber == '2')">
							<img class="item" (click)="selectGraphicItem(8,  3)" src="https://kify.rei-yumesaki.net/images/koma1_3.png" [class.selectedItem]="(komaNumber == '3')">
							<img class="item" (click)="selectGraphicItem(8,  4)" src="https://kify.rei-yumesaki.net/images/koma1_4.png" [class.selectedItem]="(komaNumber == '4')">
							<img class="item" (click)="selectGraphicItem(8,  5)" src="https://kify.rei-yumesaki.net/images/koma1_5.png" [class.selectedItem]="(komaNumber == '5')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu06">
						<h3 class="mb-3">今の手マーカー</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(16,  1)" src="https://kify.rei-yumesaki.net/images/gra_selection_1.png" [class.selectedItem]="(selectionNumber == '1')">
							<img class="item" (click)="selectGraphicItem(16,  2)" src="https://kify.rei-yumesaki.net/images/gra_selection_2.png" [class.selectedItem]="(selectionNumber == '2')">
							<img class="item" (click)="selectGraphicItem(16,  3)" src="https://kify.rei-yumesaki.net/images/gra_selection_3.png" [class.selectedItem]="(selectionNumber == '3')">
							<img class="item" (click)="selectGraphicItem(16,  4)" src="https://kify.rei-yumesaki.net/images/gra_selection_4.png" [class.selectedItem]="(selectionNumber == '4')">
							<img class="item" (click)="selectGraphicItem(16,  5)" src="https://kify.rei-yumesaki.net/images/gra_selection_5.png" [class.selectedItem]="(selectionNumber == '5')">
							<img class="item" (click)="selectGraphicItem(16,  6)" src="https://kify.rei-yumesaki.net/images/gra_selection_6.png" [class.selectedItem]="(selectionNumber == '6')">
							<img class="item" (click)="selectGraphicItem(16,  7)" src="https://kify.rei-yumesaki.net/images/gra_selection_7.png" [class.selectedItem]="(selectionNumber == '7')">
							<img class="item" (click)="selectGraphicItem(16,  8)" src="https://kify.rei-yumesaki.net/images/gra_selection_8.png" [class.selectedItem]="(selectionNumber == '8')">
							<img class="item" (click)="selectGraphicItem(16,  9)" src="https://kify.rei-yumesaki.net/images/gra_selection_9.png" [class.selectedItem]="(selectionNumber == '9')">
							<img class="item" (click)="selectGraphicItem(16, 10)" src="https://kify.rei-yumesaki.net/images/gra_selection_10.png" [class.selectedItem]="(selectionNumber == '10')">
							<img class="item" (click)="selectGraphicItem(16, 11)" src="https://kify.rei-yumesaki.net/images/gra_selection_11.png" [class.selectedItem]="(selectionNumber == '11')">
							<img class="item" (click)="selectGraphicItem(16, 12)" src="https://kify.rei-yumesaki.net/images/gra_selection_12.png" [class.selectedItem]="(selectionNumber == '12')">
							<img class="item" (click)="selectGraphicItem(16, 13)" src="https://kify.rei-yumesaki.net/images/gra_selection_13.png" [class.selectedItem]="(selectionNumber == '13')">
							<img class="item" (click)="selectGraphicItem(16, 14)" src="https://kify.rei-yumesaki.net/images/gra_selection_14.png" [class.selectedItem]="(selectionNumber == '14')">
							<img class="item" (click)="selectGraphicItem(16, 15)" src="https://kify.rei-yumesaki.net/images/gra_selection_15.png" [class.selectedItem]="(selectionNumber == '15')">
							<img class="item" (click)="selectGraphicItem(16, 16)" src="https://kify.rei-yumesaki.net/images/gra_selection_16.png" [class.selectedItem]="(selectionNumber == '16')">
							<img class="item" (click)="selectGraphicItem(16, 17)" src="https://kify.rei-yumesaki.net/images/gra_selection_17.png" [class.selectedItem]="(selectionNumber == '17')">
							<img class="item" (click)="selectGraphicItem(16, 18)" src="https://kify.rei-yumesaki.net/images/gra_selection_18.png" [class.selectedItem]="(selectionNumber == '18')">
							<img class="item" (click)="selectGraphicItem(16, 19)" src="https://kify.rei-yumesaki.net/images/gra_selection_19.png" [class.selectedItem]="(selectionNumber == '19')">
							<img class="item" (click)="selectGraphicItem(16, 20)" src="https://kify.rei-yumesaki.net/images/gra_selection_20.png" [class.selectedItem]="(selectionNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu07">
						<h3 class="mb-3">一手前マーカー</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(13,  1)" src="https://kify.rei-yumesaki.net/images/gra_marker_1.png" [class.selectedItem]="(markerNumber == '1')">
							<img class="item" (click)="selectGraphicItem(13,  2)" src="https://kify.rei-yumesaki.net/images/gra_marker_2.png" [class.selectedItem]="(markerNumber == '2')">
							<img class="item" (click)="selectGraphicItem(13,  3)" src="https://kify.rei-yumesaki.net/images/gra_marker_3.png" [class.selectedItem]="(markerNumber == '3')">
							<img class="item" (click)="selectGraphicItem(13,  4)" src="https://kify.rei-yumesaki.net/images/gra_marker_4.png" [class.selectedItem]="(markerNumber == '4')">
							<img class="item" (click)="selectGraphicItem(13,  5)" src="https://kify.rei-yumesaki.net/images/gra_marker_5.png" [class.selectedItem]="(markerNumber == '5')">
							<img class="item" (click)="selectGraphicItem(13,  6)" src="https://kify.rei-yumesaki.net/images/gra_marker_6.png" [class.selectedItem]="(markerNumber == '6')">
							<img class="item" (click)="selectGraphicItem(13,  7)" src="https://kify.rei-yumesaki.net/images/gra_marker_7.png" [class.selectedItem]="(markerNumber == '7')">
							<img class="item" (click)="selectGraphicItem(13,  8)" src="https://kify.rei-yumesaki.net/images/gra_marker_8.png" [class.selectedItem]="(markerNumber == '8')">
							<img class="item" (click)="selectGraphicItem(13,  9)" src="https://kify.rei-yumesaki.net/images/gra_marker_9.png" [class.selectedItem]="(markerNumber == '9')">
							<img class="item" (click)="selectGraphicItem(13, 10)" src="https://kify.rei-yumesaki.net/images/gra_marker_10.png" [class.selectedItem]="(markerNumber == '10')">
							<img class="item" (click)="selectGraphicItem(13, 11)" src="https://kify.rei-yumesaki.net/images/gra_marker_11.png" [class.selectedItem]="(markerNumber == '11')">
							<img class="item" (click)="selectGraphicItem(13, 12)" src="https://kify.rei-yumesaki.net/images/gra_marker_12.png" [class.selectedItem]="(markerNumber == '12')">
							<img class="item" (click)="selectGraphicItem(13, 13)" src="https://kify.rei-yumesaki.net/images/gra_marker_13.png" [class.selectedItem]="(markerNumber == '13')">
							<img class="item" (click)="selectGraphicItem(13, 14)" src="https://kify.rei-yumesaki.net/images/gra_marker_14.png" [class.selectedItem]="(markerNumber == '14')">
							<img class="item" (click)="selectGraphicItem(13, 15)" src="https://kify.rei-yumesaki.net/images/gra_marker_15.png" [class.selectedItem]="(markerNumber == '15')">
							<img class="item" (click)="selectGraphicItem(13, 16)" src="https://kify.rei-yumesaki.net/images/gra_marker_16.png" [class.selectedItem]="(markerNumber == '16')">
							<img class="item" (click)="selectGraphicItem(13, 17)" src="https://kify.rei-yumesaki.net/images/gra_marker_17.png" [class.selectedItem]="(markerNumber == '17')">
							<img class="item" (click)="selectGraphicItem(13, 18)" src="https://kify.rei-yumesaki.net/images/gra_marker_18.png" [class.selectedItem]="(markerNumber == '18')">
							<img class="item" (click)="selectGraphicItem(13, 19)" src="https://kify.rei-yumesaki.net/images/gra_marker_19.png" [class.selectedItem]="(markerNumber == '19')">
							<img class="item" (click)="selectGraphicItem(13, 20)" src="https://kify.rei-yumesaki.net/images/gra_marker_20.png" [class.selectedItem]="(markerNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu08">
						<h3 class="mb-3">持ち駒カウンター</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(12,  1)" src="https://kify.rei-yumesaki.net/images/gra_suji_9_1.png" [class.selectedItem]="(mochiNumber == '1')">
							<img class="item" (click)="selectGraphicItem(12,  2)" src="https://kify.rei-yumesaki.net/images/gra_suji_9_1.png" [class.selectedItem]="(mochiNumber == '2')">
							<img class="item" (click)="selectGraphicItem(12,  3)" src="https://kify.rei-yumesaki.net/images/gra_suji_9_3.png" [class.selectedItem]="(mochiNumber == '3')">
							<img class="item" (click)="selectGraphicItem(12,  4)" src="https://kify.rei-yumesaki.net/images/gra_suji_9_4.png" [class.selectedItem]="(mochiNumber == '4')">
							<img class="item" (click)="selectGraphicItem(12,  5)" src="https://kify.rei-yumesaki.net/images/gra_suji_9_5.png" [class.selectedItem]="(mochiNumber == '5')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu09">
						<h3 class="mb-3">先手アイコン</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(6,  1)" src="https://kify.rei-yumesaki.net/images/gra_player_1.png" [class.selectedItem]="(senteIconNumber == '1')">
							<img class="item" (click)="selectGraphicItem(6,  2)" src="https://kify.rei-yumesaki.net/images/gra_player_2.png" [class.selectedItem]="(senteIconNumber == '2')">
							<img class="item" (click)="selectGraphicItem(6,  3)" src="https://kify.rei-yumesaki.net/images/gra_player_3.png" [class.selectedItem]="(senteIconNumber == '3')">
							<img class="item" (click)="selectGraphicItem(6,  4)" src="https://kify.rei-yumesaki.net/images/gra_player_4.png" [class.selectedItem]="(senteIconNumber == '4')">
							<img class="item" (click)="selectGraphicItem(6,  5)" src="https://kify.rei-yumesaki.net/images/gra_player_5.png" [class.selectedItem]="(senteIconNumber == '5')">
							<img class="item" (click)="selectGraphicItem(6,  6)" src="https://kify.rei-yumesaki.net/images/gra_player_6.png" [class.selectedItem]="(senteIconNumber == '6')">
							<img class="item" (click)="selectGraphicItem(6,  7)" src="https://kify.rei-yumesaki.net/images/gra_player_7.png" [class.selectedItem]="(senteIconNumber == '7')">
							<img class="item" (click)="selectGraphicItem(6,  8)" src="https://kify.rei-yumesaki.net/images/gra_player_8.png" [class.selectedItem]="(senteIconNumber == '8')">
							<img class="item" (click)="selectGraphicItem(6,  9)" src="https://kify.rei-yumesaki.net/images/gra_player_9.png" [class.selectedItem]="(senteIconNumber == '9')">
							<img class="item" (click)="selectGraphicItem(6, 10)" src="https://kify.rei-yumesaki.net/images/gra_player_10.png" [class.selectedItem]="(senteIconNumber == '10')">
							<img class="item" (click)="selectGraphicItem(6, 11)" src="https://kify.rei-yumesaki.net/images/gra_player_11.png" [class.selectedItem]="(senteIconNumber == '11')">
							<img class="item" (click)="selectGraphicItem(6, 12)" src="https://kify.rei-yumesaki.net/images/gra_player_12.png" [class.selectedItem]="(senteIconNumber == '12')">
							<img class="item" (click)="selectGraphicItem(6, 13)" src="https://kify.rei-yumesaki.net/images/gra_player_13.png" [class.selectedItem]="(senteIconNumber == '13')">
							<img class="item" (click)="selectGraphicItem(6, 14)" src="https://kify.rei-yumesaki.net/images/gra_player_14.png" [class.selectedItem]="(senteIconNumber == '14')">
							<img class="item" (click)="selectGraphicItem(6, 15)" src="https://kify.rei-yumesaki.net/images/gra_player_15.png" [class.selectedItem]="(senteIconNumber == '15')">
							<img class="item" (click)="selectGraphicItem(6, 16)" src="https://kify.rei-yumesaki.net/images/gra_player_16.png" [class.selectedItem]="(senteIconNumber == '16')">
							<img class="item" (click)="selectGraphicItem(6, 17)" src="https://kify.rei-yumesaki.net/images/gra_player_17.png" [class.selectedItem]="(senteIconNumber == '17')">
							<img class="item" (click)="selectGraphicItem(6, 18)" src="https://kify.rei-yumesaki.net/images/gra_player_18.png" [class.selectedItem]="(senteIconNumber == '18')">
							<img class="item" (click)="selectGraphicItem(6, 19)" src="https://kify.rei-yumesaki.net/images/gra_player_19.png" [class.selectedItem]="(senteIconNumber == '19')">
							<img class="item" (click)="selectGraphicItem(6, 20)" src="https://kify.rei-yumesaki.net/images/gra_player_20.png" [class.selectedItem]="(senteIconNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu10">
						<h3 class="mb-3">後手アイコン</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(7,  1)" src="https://kify.rei-yumesaki.net/images/gra_player_1.png" [class.selectedItem]="(goteIconNumber == '1')">
							<img class="item" (click)="selectGraphicItem(7,  2)" src="https://kify.rei-yumesaki.net/images/gra_player_2.png" [class.selectedItem]="(goteIconNumber == '2')">
							<img class="item" (click)="selectGraphicItem(7,  3)" src="https://kify.rei-yumesaki.net/images/gra_player_3.png" [class.selectedItem]="(goteIconNumber == '3')">
							<img class="item" (click)="selectGraphicItem(7,  4)" src="https://kify.rei-yumesaki.net/images/gra_player_4.png" [class.selectedItem]="(goteIconNumber == '4')">
							<img class="item" (click)="selectGraphicItem(7,  5)" src="https://kify.rei-yumesaki.net/images/gra_player_5.png" [class.selectedItem]="(goteIconNumber == '5')">
							<img class="item" (click)="selectGraphicItem(7,  6)" src="https://kify.rei-yumesaki.net/images/gra_player_6.png" [class.selectedItem]="(goteIconNumber == '6')">
							<img class="item" (click)="selectGraphicItem(7,  7)" src="https://kify.rei-yumesaki.net/images/gra_player_7.png" [class.selectedItem]="(goteIconNumber == '7')">
							<img class="item" (click)="selectGraphicItem(7,  8)" src="https://kify.rei-yumesaki.net/images/gra_player_8.png" [class.selectedItem]="(goteIconNumber == '8')">
							<img class="item" (click)="selectGraphicItem(7,  9)" src="https://kify.rei-yumesaki.net/images/gra_player_9.png" [class.selectedItem]="(goteIconNumber == '9')">
							<img class="item" (click)="selectGraphicItem(7, 10)" src="https://kify.rei-yumesaki.net/images/gra_player_10.png" [class.selectedItem]="(goteIconNumber == '10')">
							<img class="item" (click)="selectGraphicItem(7, 11)" src="https://kify.rei-yumesaki.net/images/gra_player_11.png" [class.selectedItem]="(goteIconNumber == '11')">
							<img class="item" (click)="selectGraphicItem(7, 12)" src="https://kify.rei-yumesaki.net/images/gra_player_12.png" [class.selectedItem]="(goteIconNumber == '12')">
							<img class="item" (click)="selectGraphicItem(7, 13)" src="https://kify.rei-yumesaki.net/images/gra_player_13.png" [class.selectedItem]="(goteIconNumber == '13')">
							<img class="item" (click)="selectGraphicItem(7, 14)" src="https://kify.rei-yumesaki.net/images/gra_player_14.png" [class.selectedItem]="(goteIconNumber == '14')">
							<img class="item" (click)="selectGraphicItem(7, 15)" src="https://kify.rei-yumesaki.net/images/gra_player_15.png" [class.selectedItem]="(goteIconNumber == '15')">
							<img class="item" (click)="selectGraphicItem(7, 16)" src="https://kify.rei-yumesaki.net/images/gra_player_16.png" [class.selectedItem]="(goteIconNumber == '16')">
							<img class="item" (click)="selectGraphicItem(7, 17)" src="https://kify.rei-yumesaki.net/images/gra_player_17.png" [class.selectedItem]="(goteIconNumber == '17')">
							<img class="item" (click)="selectGraphicItem(7, 18)" src="https://kify.rei-yumesaki.net/images/gra_player_18.png" [class.selectedItem]="(goteIconNumber == '18')">
							<img class="item" (click)="selectGraphicItem(7, 19)" src="https://kify.rei-yumesaki.net/images/gra_player_19.png" [class.selectedItem]="(goteIconNumber == '19')">
							<img class="item" (click)="selectGraphicItem(7, 20)" src="https://kify.rei-yumesaki.net/images/gra_player_20.png" [class.selectedItem]="(goteIconNumber == '20')">
						</div>
					</div>
					<div class="tab-pane fade show" id="panel-menu11">
						<h3 class="mb-3">ロゴ</h3>
						<div class="wrapper grid">
							<img class="item" (click)="selectGraphicItem(17,  1)" src="https://kify.rei-yumesaki.net/images/gra_logo_1.png" [class.selectedItem]="(logoNumber == '1')">
							<img class="item" (click)="selectGraphicItem(17,  2)" src="https://kify.rei-yumesaki.net/images/gra_logo_2.png" [class.selectedItem]="(logoNumber == '2')">
							<img class="item" (click)="selectGraphicItem(17,  3)" src="https://kify.rei-yumesaki.net/images/gra_logo_3.png" [class.selectedItem]="(logoNumber == '3')">
							<img class="item" (click)="selectGraphicItem(17,  4)" src="https://kify.rei-yumesaki.net/images/gra_logo_4.png" [class.selectedItem]="(logoNumber == '4')">
							<img class="item" (click)="selectGraphicItem(17,  5)" src="https://kify.rei-yumesaki.net/images/gra_logo_5.png" [class.selectedItem]="(logoNumber == '5')">
							<img class="item" (click)="selectGraphicItem(17,  6)" src="https://kify.rei-yumesaki.net/images/gra_logo_6.png" [class.selectedItem]="(logoNumber == '6')">
							<img class="item" (click)="selectGraphicItem(17,  7)" src="https://kify.rei-yumesaki.net/images/gra_logo_7.png" [class.selectedItem]="(logoNumber == '7')">
							<img class="item" (click)="selectGraphicItem(17,  8)" src="https://kify.rei-yumesaki.net/images/gra_logo_8.png" [class.selectedItem]="(logoNumber == '8')">
							<img class="item" (click)="selectGraphicItem(17,  9)" src="https://kify.rei-yumesaki.net/images/gra_logo_9.png" [class.selectedItem]="(logoNumber == '9')">
							<img class="item" (click)="selectGraphicItem(17, 10)" src="https://kify.rei-yumesaki.net/images/gra_logo_10.png" [class.selectedItem]="(logoNumber == '10')">
						</div>
					</div>
				</div>
			</div>
		</article>

	</div>

	<div id="start">
		<button id="kif-play-2" (mouseover)="setSettings()" (click)="buttonEvent()" class="button"><span style="font-size: 14px;">棋譜再生</span><i class="material-icons" style="font-size: 20px;">play_arrow</i></button>
	</div>



	<!-- <input type="hidden" id="set4" />
	<input type="hidden" id="set10" /> -->


	<!-- 音声の追加時間調整(ミリ秒) -->
	<!-- <input type="hidden" id="set15" value="0" onchange="onChangeItem()"> -->
	<br />



	<footer>
		<div class="wrapper">
			<p><small>&copy; 2021 bisu respect for <a href="https://help.kify.rei-yumesaki.net/credit/staff/" target="_blank">Rei Yumesaki & KukiLabo</a></small></p>
		</div>
	</footer>



</body>

</html>

